<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous" type="javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous" type="javascript"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous" type="javascript"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('hello_world') }}">START</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('/hello.say_hello_to') }}">Say hello</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('/current_time.show_current_date') }}">Time</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('/db.manage_data') }}">Manage database</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('/db.add_new_user') }}" class="nav-link">Add new user</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('/db.to_json') }}" class="nav-link">Export table to JSON</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr data-toggle="collapse" data-target="{{ u.id }}" class="accordion-toggle">
                <th scope="row">{{ loop.index }}</th>
                <td>{{ u.first_name }}</td>
                <td>{{ u.last_name }}</td>
                <td>{{ u.address.address }}</td>
                <td>{{ u.address.city }}</td>
                <td>
                    <div class="d-grid gap-2">
                        <a href="{{ url_for('/db.delete_user', user_id=u.id) }}" role="button" type="button"
                           class="btn btn-danger"
                           aria-pressed="true">Delete</a>
                        <a href="{{ url_for('/db.update_user', user_id=u.id, first_name=u.first_name, last_name=u.last_name, address=u.address.address, city=u.address.city) }}"
                           role="button" type="button" class="btn btn-warning"
                           aria-pressed="true">Update</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Options</th>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>